# Byte-compiled / optimized / DLL files
__pycache__/

/data*
tl_2022_23_tabblock20.cpg
tl_2022_23_tabblock20.dbf
tl_2022_23_tabblock20.prj
tl_2022_23_tabblock20.shp
tl_2022_23_tabblock20.shp.ea.iso.xml
tl_2022_23_tabblock20.shp.iso.xml
tl_2022_23_tabblock20.shx
